<div>
  <p>Counter: {{counter}}</p>
  <button (click)="decrement()">decrement</button>
  <button (click)="increment()">increment</button>
</div>
<section>
  <h2>Componente Parent</h2>

  <p>Counter: {{ counter }}</p>
  <button (click)="decrement()">decrement</button>
  <button (click)="increment()">increment</button>

  <p>El mensaje recibido desde el hijo es: {{mensajeRecibido}}</p>

  <app-child [datoDeEntrada]="mensajeDelPadre" (mensajeDesdeHijo)="reciboMensaje($event)"></app-child>

</section>
